

.title {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color:black;
  font-family: 'Cantora One';
}

.search-bar{
  color: black;
  display:flex;
  align-items: center;
}

.form{
  align-items: center;
}
.example
  {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
